{{range .}}
<tr>
    <td>{{.ID}}</td>
    <td>{{.Count}}</td>
    <td>{{.Name}}</td>
    <td>{{.Date}}</td>
    <td>
        <span class="status-indicator status-{{.Status}}">{{.Status}}</span>
    </td>
    <td>
        {{ if eq .Status "ok" }}
        <a href="#" onclick="downloadFile('{{.ID}}','');return false;" class="button download-button">Download CSV</a>
        <a href="#" onclick="downloadFile('{{.ID}}','excel');return false;" class="button download-button"
            style="background-color: #217346;">Download Excel</a>
        {{ end }}
        <button hx-delete="/delete?id={{.ID}}" hx-target="closest tr" hx-swap="outerHTML"
            hx-confirm="Are you sure you want to delete this task?" class="delete-button">Delete</button>
    </td>
</tr>
{{end}}